a { color: #111; }

.nav-bar ul{ 
    max-width: 100%;
     list-style-type: none; 
     margin: 0; padding: 0; 
     overflow: hidden; 
     background-color: #cecece; }

li { float: left; }

li a { display: block; 
    color: #333; text-align: center;
     padding: 14px 16px;
      text-decoration: none; }

li a:hover:not(.active)
 { background-color: #111; }

.active { background-color: #048caa; }
body{
    background: rgb(197, 190, 190);
    color: #111;
    padding: 4em;
    font-family: sans-serif;
    line-height: 1.15;
}
/* News Section */
 hr { 
    height: 6px; 
    border: none;
 } 
.page {
     padding: 2em;
      background: #cecece;
       max-width: 100%;
 } 
 .article { 
    text-align: center;
        padding: 1em; 
        background: rgba(200, 200, 255, 0.3);
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
 } 
.archive { 
    display: grid;
     grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
     grid-gap: 1em; 
     grid-auto-flow: dense;
     } 

 .archive img {
     max-width: 100%; 
}
.five-day{
    text-align: center;
    padding: 1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
    background: rgba(200, 200, 255, 0.3);
}
/* .five-day { 
    text-align: center; 
        padding: 1em;
        box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05);
        grid-column: 1 / 5; 
        background: rgba(200, 200, 255, 0.3); 
 }  */

.archive:nth-child(1) {
     grid-column: 1 / -1; 
     background: rgba(200, 200, 255, 0.3); 
}
.archive:nth-child(8) { 
    grid-column: -3 / -1; 
    background: rgba(255, 200, 255, 0.3); 
} 
.archive:nth-child(8):after {
     content: "grid-column: -3 / -1";
 } 

 @media (max-width: 680px) {
     .archive { 
        display: flex; 
        flex-direction: column;
 } 
 .article {
     margin-bottom: 1em; 
    } }
    


    /* Weather sections */
.article-five-day { 
    grid-column: 1 / -1; 
    padding: 15px; 
    margin-top: 15px; 
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1), 0 20px 20px rgba(0, 0, 0, 0.05); 
    background-color: rgba(200, 200, 255, 0.3); 
}
.five-article { 
    text-align: center; 
} 
#city { 
    text-align: center; 
}
#forecastTitle { 
    text-align: center; 
} 
.flex { 
    display: flex; 
    justify-content: center; 
} 
.flex-col { 
    text-align: center;
     margin-right: 50px; 
    } 
#stats { 
    text-align: start; 
    float: left; 
} 
.temp-data { 
    margin-left: 10px; 
    display: flex; 
} 
.weatherIcon {
     display: flex; 
     margin-left: 0px; 
} 

footer { 
    text-align: center; 
}
.article h1{
    display: flex;
    justify-content: flex-start;
}
.article ul{
   text-align: left;
   padding-left: 10px;

}
.flex img{
    width: 75px;
}
.article-img{
width: 400px;
}
